* {
  box-sizing: border-box;
}
:root {
  /*rgb values used here so that opacity can be easily added*/
  ---main-dark: 62, 53, 56;
  ---darker-dark: 27, 24, 24;
  ---main-light: 253, 253, 241;
  ---header-font: "Playfair Display", serif;
  ---body-font: "Poppins", sans-serif;
}
body {
  background-image: url('./assets/images/flower_tile.jpg');
  background-color: rgb(var(---main-light));
  font-family: var(---header-font);
  font-weight: 400;
  overflow-x: hidden;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 50%));
  width: 100vw;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;

}

.alligatorImage {
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}

h1 {
  color: #fff;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-family: var(---body-font);
  font-size: calc(5rem + 2vw);
  font-weight: bold;
  margin-left: 10px;
}
h2 { 
  text-shadow: 2px 0 0 #FFF, 0 -2px 0 #FFF, 0 2px 0 #FFF, -2px 0 0 #FFF;
  font-size: calc(2rem + 2vw);
}


