*{
	background: #FFFFFF;
}
body { 
    background: #FEFEFE;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    width: 90%;
    margin-left: 5%;
}
h1 {
   font-size: 3rem;
}
#navBar {
	text-align: center;
	border-top-style:solid;
	border-bottom-style:solid;
}
	
a.navBarLink{
	font-size: 2rem;
	margin-left: 20px;
}
a.navBarLink:hover{
	text-decoration: underline;
	cursor: pointer;
}
