body {
  color: #3d3532;
  background-color: #fdfdf4;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Poppins', sans-serif;*/
  font-weight: 400;
  width: 100vw
}

.alligatorImage {
  width: 100%;
  grid-column: 1 / span 2;
}

h1 {
  font-size: calc(1.5rem + 2vw);
  font-weight: 400;
  margin: 0;
  margin-left: 5rem;
  margin-top: 15vh;
}
h2 {
  font-size: calc(1rem + 1vw);
  font-weight: 400;
  margin: 0;
  margin-left: 5rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.links {
  display: grid;
  font-size: calc(1.2rem + 1vw);
  grid-template-columns: repeat(1,1fr);
}

.links > a{
 text-decoration:underline
}
.links > a:hover{
  text-decoration:none;
  background-color: #3d3532;
  color: #fdfdf4;
}

@media only screen and (max-width: 900px) {
  .links{
    grid-template-columns: repeat(4,25vw);
    text-align:center;
  }
}
