body {
  color: #3d3532;
  background-color: #fdfdf4;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Poppins', sans-serif;*/
  font-weight: 400;
  width: 100vw
}

.alligatorImage {
  width: 100%;
  grid-column: 1 / span 2;
}

h1 {
  font-size: calc(1.5rem + 2vw);
  font-weight: 400;
  margin: 0;
  margin-left: 5rem;
  margin-top: 15vh;
}
h2 {
  font-size: calc(1rem + 1vw);
  font-weight: 400;
  margin: 0;
  margin-left: 5rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.links {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
