@import "variables";
@import "./bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Monoton');
html{
    overflow: scroll;
    overflow-x: hidden;
}
h1{
    font-family: 'Monoton', serif;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

#title{
   @media screen and (min-width: 500px) {
        h1{
            font-size: 5rem;
        }
   }
   @media screen and (max-width: 501px) {
        h1{
            font-size:3.8rem;
        }
   }
}
.primary-break{
    border: none;
    height: 2px;
    background-color: $main-brand;
    //this is the small breakpoint in bootsrap (576)
    @media screen and (max-width: 770px){
        width: 100%;
    }
    @media screen and (min-width: 769px){
        width: 33%;
    }
        
}
.light-break{
    border: none;
    height: 2px;
    background-color: $light-accent;
}
.dark-break{
    border: none;
    height: 2px;
    background-color: $dark-accent;
}
