@import "variables";
@import "./bootstrap/scss/bootstrap.scss";

$project-background: "../images/brickBackground.jpg";
$lightShade : #e9e2c9;
$lightAccent: #b3a268;
$mainBrand: #8f5453;
$darkAccent:#74757b;
$darkShade:#2A1f24;
#navbar{
    background-color: $mainBrand;
}
html{

    overflow: scroll;
    overflow-x: hidden;
}
.bg-lightShade{
   background-color: $lightShade;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
body{
    background-color: $darkShade;
    color: $darkShade;
}
.georgeImg{
   width:50%;
   margin-left:25%;
   margin-bottom: 20px;
   border-style: solid;
   border-radius:50%;
}

#projectContainer{
    background: linear-gradient(rgba($darkShade,.7),rgba($darkShade,.7)),url($project-background);
}
.projectOnePictures{
    $width-percent: 80%;
    width:$width-percent;
    margin-left:(100%-$width-percent)/2;
}
.blogTitle{
    font-size:1.5rem;
}
button{
    background-color: rgba(255,255,255,0);
    color: $mainBrand;
    border:2px solid $mainBrand;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: -10px;
}
button:hover{
   color:$lightShade; 
   background-color:$mainBrand;
}
footer{
    margin-top: 20px;
    font-size: .7rem;
}
