$theme-colors: (
  primary: #FF7295,
  secondary: #FF0000, 
  success: #FF0000,
  info: #FF0000,
  warning: #FF0000,
  danger: #FF0000,
  light: #FF0000,
  dark: #FF0000,
); 
$brand-primary: #4d4d4d;
$primary-font-size: 14pt;
$btn-color: #FF0000;
$secondary-font-size: $primary-font-size / 2.5pt;

