@import "variables";
@import "./bootstrap/scss/bootstrap.scss";

html{
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
#mainTitle{
    background: linear-gradient(rgba($dark-primary,.4),rgba($dark-primary,.4)) , url("../images/banner.jpg"); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 66vh;
}
#mainTitleText{
    //margin-top: 15vh;
}
//////navbar clear for navbar script//////////
@keyframes darkToLight{
    from {background-color: $main-brand }
    to {background-color:white}
}
.navbar-clear{
   @media screen and (min-width: 500px) {
        background-color: white;
   }
   @media screen and (max-width: 501px) {
        background-color: $light-primary;
   }
}
.navbar-clear-anim{
   @media screen and (min-width: 500px) {
        animation-name: darkToLight;
        animation-duration: .5s;
    }
}
.navbar-clear .navbar-brand,
.navbar-clear .navbar-text,{
    color: $main-brand;
}
.navbar-clear .navbar-nav .nav-link{
    color: $main-brand;
}
.navbar-clear .navbar-toggler{
    color: $main-brand;
    //clear
    background-color: rgba(black,0);
    border: 2px solid rgba(black,.5);
    
}
.navbar-clear .navbar-toggler:hover{
    background-color: rgba(black,.2);
}
.navbar-clear .navbar-toggler .navbar-toggler-icon{
    background-image: $navbar-light-toggler-icon-bg;
}
/////////navbar solid/////////
@keyframes lightToDark{
    from {background-color:white}
    to {background-color: $light-accent }
}
.navbar-solid{
    background-color: $light-accent;
   @media screen and (min-width: 500px) {
        animation-name: lightToDark;
        animation-duration: .5s;
    } 
} 
.navbar-solid .navbar-brand,
.navbar-solid .navbar-text,{
    color: white;
}
.navbar-solid .navbar-nav .nav-link{
    color: white;
}
.navbar-solid .navbar-toggler{
    color: $main-brand;
    //clear
    background-color: rgba(black,0);
    border: 2px solid rgba(white,.3);
    
}
.navbar-solid .navbar-toggler:hover{
    background-color: rgba(black,.2);
}
.navbar-solid .navbar-toggler .navbar-toggler-icon{
    background-image: $navbar-dark-toggler-icon-bg;
}
/////////end of navbar solid///////////
.bg-lightShade{
   background-color: $light-primary;
}
.primary-break{
    border: none;
    height: 2px;
    background-color: $main-brand;
    //this is the small breakpoint in bootsrap (576)
    @media screen and (max-width: 770px){
        width: 100%;
    }
    @media screen and (min-width: 769px){
        width: 33%;
    }
        
}
.light-break{
    border: none;
    height: 2px;
    background-color: $light-accent;
}
.dark-break{
    border: none;
    height: 2px;
    background-color: $dark-accent;
}
.nav-link {
  font-size: 1.5rem; 
}
.bg-clearDark{
   /* background-color: rgba($dark-primary,.4);
    border: 2px solid rgba($dark-primary,.2);
    border-radius: 2px;
    */
}
.hidden-sm{
    @media screen and (max-width: 770px){
        display: none;
    }
}
