body {
  background-color: hsl(268, 14%, 15%);
  color: white;
  margin: 0;
  padding: 0;
}
.desertBackground {
  background-image: url("../img/desert.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titleContainer {
  width: 90%;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-right: 10%;
  margin-top: 50vh;
  text-align: right;
  font-family: "Anton", sans-serif;
}
#navbar {
  display: none;
  position: fixed;
  font-family: "Anton", sans-serif;
  top: 0;
  right: 0;
  text-align: right;
  width: 90%;
  padding-right: 10%;
}

.navbarShow {
  display: inherit !important;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

.hLineDark {
  margin-top: 20px;
  height: 1em;
  width: 100%;
}
.sectionTitle {
  color: white;
  font-size: 3em;
  height: 3em;
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  text-decoration: underline;
  width: 100%;
}
.portfolioSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.portfolioItem {
  text-align: left;
  color: white;
  width: 100%;
  font-size:2em;
  margin:0;
  padding:0;
  height: 165px;
  margin-bottom:20px;
  border-radius: 22px;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 25vh;
  background-repeat: no-repeat;
  background-size: 270px 480px;

}
.portfolioItem img{
  width: 270px;
  height: 500px;
  display:block;
  margin:auto;
  display: none;
}
.portfolioItemExpanded{
  height: 500px !important;
  background-image: none !important;
}
.portfolioItemExpanded img{
  display: inline !important;
}
#millpond{
  background-color: #17A4DD;
  background-image: url("../img/AirCircus.png");


}
.portfolioItem:focus{
  height: 825px;
  background-image: url("../img/AirCircus.png");

}
#poetryBot{
  background-color: coral;
  background-image: url("../img/poetrybot.png");

}
#newMusicFriends{
  background-color: springgreen;
  background-image: url("../img/newMusicFriends.png");

}
